@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');


header {
        background-color: goldenrod;
        color: #ffffff;

        padding: 20px;
        margin: 0px;

        font-size: 42px;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
}

#showcase {
    Height: 200px;
    padding: 100px;
}

#about-us {

}

#our-services {

}


.bg-yellow {
    background-color: yellow;
}

.bg-pink {
    background-color: pink;
}

.bg-green {
    background-color: green;
}

footer {
    background-color:rgb(37, 4, 4);
    color: rgb(225, 160, 61);
    padding: 0px 0px 0px 10px;

    text-align: center;

}